        @media only screen and (max-width: 1800px) {
            #art-about {}
        }
        /*Mobile*/
        
        @media only screen and (max-width: 1200px) {
            /*Tablets [601px -> 1200px]*/
            #a1 {
                width: 70%;
            }
            #art-about {
                height: 120%;
            }
            #arrow-down {
                padding-top: 20px;
            }
        }
        
        @media only screen and (max-width: 900px) {
            /*Big smartphones [426px -> 600px]*/
            #art-about {
                height: 130%;
            }
        }
        
        @media only screen and (max-width: 800px) {
            /*Big smartphones [426px -> 600px]*/
            #art-about {
                height: 80%;
            }
        }
        
        @media only screen and (max-width: 650px) {
            #nav-mobile {
                padding-left: auto;
                padding-right: auto;
                margin-bottom: -15px;
            }
        }
        
        @media only screen and (max-width: 600px) {
            /*Big smartphones [426px -> 600px]*/
            #art-about {
                height: 170%;
            }
        }
        
        @media only screen and (max-width: 550px) {
            /*Big smartphones [426px -> 600px]*/
            #art-about {
                height: 200%;
            }
            #arrow-down img {
                padding-top: 10px;
                width: 50px;
            }
            #contact-deets {
                font-size: 0.6em;
            }
        }
        
        @media only screen and (max-width: 425px) {
            /*Small smartphones [325px -> 425px]*/
            #art-about {}
            #serv-col-left {
                width: 100%;
                float: left;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 3vh;
            }
            #serv-col-center {
                width: 100%;
                float: left;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 3vh;
            }
            #serv-col-right {
                width: 100%;
                margin-right: auto;
                margin-bottom: 3vh;
            }
        }
        
        @media only screen and (max-width: 800px) and (max-height: 750px) {
            #art-about {
                height: 80%;
            }
        }
        
        @media only screen and (max-width: 2600px) and (max-height: 800px) {
            #art-about {
                height: 100%;
            }
        }
        
        @media only screen and (max-width: 1500px) and (max-height: 750px) {
            #art-about {
                height: 130%;
            }
        }
        
        @media only screen and (max-width: 1000px) {
            #skills-inner {
                max-width: 100%;
            }
        }
        
        @media only screen and (max-width: 900px) {
            #threecols h4 {
                font-size: 25px;
            }
            #threecols p {
                font-size: 18px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
            }
            #services {
                padding-bottom: 35vh;
            }
            #serv-col-right {
                width: 100%;
            }
            #serv-col-center {
                margin-bottom: 40px;
                width: 100%;
            }
            #serv-col-left {
                margin-bottom: 40px;
                width: 100%;
            }
        }
        
        @media only screen and (max-width:800px) {
            #art-about {
                height: 110%;
            }
        }
        
        @media only screen and (max-width:750px) {
            #art-about {
                height: 115%;
            }
            #threecols h4 {
                font-size: 18px;
            }
            #threecols p {
                font-size: 15px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
            }
        }
        
        @media only screen and (max-width:650px) {}
        
        #art-about {
            height: 120%;
        }
        
        @media only screen and (max-width:600px) {
            #skills {
                font-size: 20px;
            }
        }
        
        @media only screen and (max-width:550px) {
            h1 {
                font-size: 100px;
            }
        }
        
        @media only screen and (max-width:500px) {
            #a1 {
                width: 90%;
            }
            h2 {
                font-size: 40px;
            }
            h3 {
                font-size: 30px;
            }
        }
        
        @media only screen and (max-width:450px) {
            h1 {
                font-size: 80px;
            }
            #skills {
                font-size: 20px;
            }
            #art-about {
                height: 150%;
            }
            #services {
                height: 160%;
            }
        }
        
        @media only screen and (max-width: 550px) and (max-height: 640px) {
            #art-about {
                height: 160%;
            }
        }
        
        @media only screen and (max-width: 360px) and (max-height: 640px) {
            #art-about {
                height: 160%;
            }
            #services {
                height: 170%;
            }
        }
        
        @media only screen and (max-width: 320px) and (max-height: 640px) {
            #art-about {
                height: 170%;
            }
            #services {}
        }