@media only screen and (max-width: 1800px) {
    .column-33 {
        margin-left: 100px;
        width: 40%;
    }

    .proj2-right {
        padding: 0px;
    }

    .proj2-right img {
        width: 200px;
        height: 450px;
    }

    .proj3-left {
        margin-left: 50px;
        width: 40%;
    }

    .proj3-left img {
        width: 200px;
        height: 450px;
    }

    .proj3-right {
        margin-left: 80px;
        width: 45%;
    }
}

@media only screen and (max-width: 1700px) {
    .column-33 {
        margin-left: 100px;
        width: 40%;
    }

    .column-66 img {
        width: 700px;
        height: 350;
    }

    .proj2-right {
        padding: 0px;
    }

    .proj2-right img {
        width: 200px;
        height: 450px;
    }

    .proj3-left {
        margin: 0px;
        padding: 0px;
        width: 50%;
    }

    .proj3-left img {
        width: 180px;
        height: 400px;
    }

    .proj3-right {
        width: 40%;
    }
}

@media only screen and (max-width: 1600px) {
    #icon-link {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1500px) {
    #main2 {
        padding-top: 12vh;
        padding-bottom: 10vh;
    }

    video {
        height: 100vh;
    }

    .column-33 {
        margin: 0px;
        width: 40%;
    }

    .column-66 img {
        width: 600px;
        height: 350;
    }

    .proj2-left {
        width: 45%;
        padding: 25px;
    }

    .proj2-right {
        padding: 0px;
    }

    .proj2-right img {
        width: 150px;
        height: 350px;
    }

    .proj3-left {
        margin: 0px;
        padding: 0px;
        width: 50%;
    }

    .proj3-left img {
        width: 180px;
        height: 400px;
    }

    .proj3-right {
        width: 40%;
    }
}

@media only screen and (max-width: 1400px) {
    .button {
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 1350px) {
    .column-33 {
        margin: 0px;
        width: 40%;
    }

    .column-66 img {
        width: 600px;
        height: 350;
    }

    .proj2-left {
        width: 45%;
        padding: 10px;
    }

    .proj2-right {
        padding: 0px;
    }

    .proj2-right img {
        width: 150px;
        height: 350px;
    }

    .proj3-left {
        margin: 0px;
        padding: 0px;
        width: 50%;
    }

    .proj3-left img {
        width: 180px;
        height: 400px;
    }

    .proj3-right {
        width: 40%;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1300px) {
    .column-33 {
        margin: 0px;
        width: 40%;
    }

    .column-66 img {
        width: 525px;
        height: 250;
    }

    .proj2-left {
        width: 45%;
        padding: 10px;
    }

    .proj2-right {
        padding: 0px;
    }

    .proj2-right img {
        width: 150px;
        height: 350px;
    }

    .proj3-left {
        margin: 0px;
        padding: 0px;
        width: 50%;
    }

    .proj3-left img {
        width: 180px;
        height: 400px;
    }

    .proj3-right {
        width: 40%;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1250px) {
    #icon-link {
        font-size: 10px;
    }

    .proj3-left {
        margin: 0px;
        padding: 0px;
        width: 50%;
    }

    .proj3-left img {
        width: 150px;
        height: 300px;
    }
}

@media only screen and (max-width: 1200px) {

    /*Tablets [601px -> 1200px]*/
    #main2 {
        padding-top: 5vh;
        padding-bottom: 9vh;
    }

    video {
        height: 100vh;
    }

    #a1 {
        width: 90vh;
    }

    #art-about {
        height: 130%;
    }

    #arrow-down {
        padding-top: 20px;
    }

    .column-33 {
        margin-left: 50px;
        margin: 0px;
        width: 35%;
    }

    .column-66 img {
        width: 500px;
        height: 300px;
    }

    .proj2-left {
        margin: 0px;
        padding: 20px;
        width: 45%;
    }

    .proj2-right {
        width: 50%
    }

    .proj2-right img {
        width: 130px;
        height: 300px;
    }
}

@media only screen and (max-width: 1150px) {

    /*Tablets [601px -> 1200px]*/
    #a1 {
        width: 66vh;
    }

    #art-about {
        height: 60%;
        padding-top: 64px;
    }

    #arrow-down {
        padding-top: 20px;
    }

    .column-33 {
        margin-left: 50px;
        margin: 0px;
        width: 35%;
    }

    .column-66 img {
        width: 500px;
        height: 300px;
    }

    .proj2-left {
        width: 45%;
        padding: 10px;
    }

    .proj2-right {
        padding: 0px;
        width: 45%;
        margin: 0px;
    }

    .proj2-right img {
        width: 125px;
        height: 300px;
    }
}

@media only screen and (max-width: 1100px) {

    /*Tablets [601px -> 1200px]*/
    #main2 {
        padding-top: 12vh;
        padding-bottom: 10vh;
    }

    video {
        height: 100vh;
    }

    #a1 {
        width: 50vh;
    }

    .column-33 {
        width: 35%;
    }

    .column-66 img {
        width: 450px;
        height: 300px;
    }

    .proj2-left {
        width: 45%;
        padding: 10px;
    }

    .proj2-right {
        padding: 0px;
        width: 45%;
        margin: 0px;
    }

    .proj2-right img {
        width: 125px;
        height: 300px;
    }

    .proj3-left {
        margin: 0px;
        padding: 0px;
        width: 50%;
    }

    .proj3-left img {
        width: 125px;
        height: 300px;
    }
}

@media only screen and (max-width: 1000px) {

    #skills-inner {
        max-width: 90%;
    }

    @keyframes progressAnimation {
        0% {
            width: 50%;
            background-color: #5f9cff;
        }

        100% {
            width: 100%;
            background-color: #003a91;
        }
    }

    @keyframes progressAnimation2 {
        0% {
            width: 45%;
            background-color: #5f9cff;
        }

        90% {
            width: 90%;
            background-color: #003a91;
        }
    }

    @keyframes progressAnimation3 {
        0% {
            width: 40%;
            background-color: #5f9cff;
        }

        70% {
            width: 70%;
            background-color: #003a91;
        }
    }

    @keyframes BE-progressAnimation {
        0% {
            width: 30%;
            background-color: #ff7474;
        }

        80% {
            width: 80%;
            background-color: #b80000;
        }
    }

    @keyframes BE-progressAnimation2 {
        0% {
            width: 25%;
            background-color: #ff7474;
        }

        70% {
            width: 70%;
            background-color: #b80000;
        }
    }

    @keyframes BE-progressAnimation3 {
        0% {
            width: 20%;
            background-color: #ff7474;
        }

        50% {
            width: 50%;
            background-color: #b80000;
        }
    }

    .column-33 {
        width: 100%;
        padding: 0px;
    }

    .column-66 img {
        width: 100%;
        height: auto;
    }

    .column-66 {
        padding-left: auto;
        padding-right: auto;
        width: 100%;
        margin-bottom: 15px;
        padding: 0px;
    }

    .proj2-left {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
    }

    .proj2-right {
        padding: 0px;
        width: 100%;
        margin: 0px;
        margin-bottom: 15px;
    }

    .proj2-right img {
        width: 32%;
        height: auto;
    }

    .proj3-left {
        margin: 0px;
        padding: 0px;
        width: 100%;
        margin-bottom: 15px;
    }

    .proj3-left img {
        width: 32%;
        height: auto;
    }

    .proj3-right {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 900px) {
    .column-66 img {}

    #art-about {
        height: 100%;
    }

    #threecols h4 {
        font-size: 25px;
    }

    #threecols p {
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    #services {
        padding-bottom: 35vh;
    }

    #serv-col-right {
        width: 100%;
    }

    #serv-col-center {
        margin-bottom: 40px;
        width: 100%;
    }

    #serv-col-left {
        margin-bottom: 40px;
        width: 100%;
    }
}

@media only screen and (max-width: 801px) and (max-width: 899px) {
    #main>video {
        height: 100vh;
    }
}

@media only screen and (max-width: 800px) {

    /*Big smartphones [426px -> 600px]*/
    #main2 {
        padding-top: 20vh;
        padding-bottom: 0vh;
    }

    video {
        height: 145vh;
    }

    #art-about {
        height: 100%;
    }
}

@media only screen and (max-width:750px) {
    #art-about {
        height: 100%;
    }

    #threecols h4 {
        font-size: 18px;
    }

    #threecols p {
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 650px) {
    #nav-mobile {
        padding-left: auto;
        padding-right: auto;
        margin-bottom: -15px;
    }

    #art-about {
        height: 100%;
    }
}

@media only screen and (max-width: 600px) {

    /*Big smartphones [426px -> 600px]*/
    #art-about {
        height: 100%;
    }

    #skills {
        font-size: 20px;
    }
}

@media only screen and (max-width: 550px) {

    /*Big smartphones [426px -> 600px]*/
    h1 {
        font-size: 100px;
    }

    #art-about {
        height: 110%;
    }

    #arrow-down img {
        padding-top: 10px;
        width: 50px;
    }

    #contact-deets {
        font-size: 0.6em;
    }
}

@media only screen and (max-width:500px) {
    #art-about {
        height: 100%;
    }

    #a1 {
        width: 80%;
        padding: 20px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }
}

@media only screen and (max-width:450px) {
    #a1 {
        font-size: 1rem;
        margin-top: 2vh;
        padding: 15px;
    }

    h1 {
        font-size: 55px;
    }

    #skills {
        margin-top: 20px;
        font-size: 20px;
    }

    #art-about {
        height: 100%;
    }

    #services {
        height: 100%;
    }
}

@media only screen and (max-width: 425px) {

    #header-img {
        width: 10%;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }

    #title {
        font-size: 1rem;
    }

    #nav-mobile>a.icon {
        margin-right: 5px;
    }

    main>video {
        height: 100vh !important;
    }

    #intro {

        font-size: 45px;
    }

    #slogan {
        font-size: 35px;
    }

    #focus {
        font-size: 16px;
    }

    /*Small smartphones [325px -> 425px]*/
    #art-about {
        height: 95%;
    }

    #serv-col-left {
        width: 100%;
        float: left;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3vh;
    }

    #serv-col-center {
        width: 100%;
        float: left;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3vh;
    }

    #serv-col-right {
        width: 100%;
        margin-right: auto;
        margin-bottom: 3vh;
    }

    .service-vid {
        height: 135vh;
    }

    #services {
        margin-bottom: -1vh;
    }
}

@media only screen and (max-width: 2600px) and (max-height: 800px) {
    #art-about {
        height: 100%;
    }
}

@media only screen and (max-width: 800px) and (max-height: 750px) {
    #art-about {
        height: 200%;
    }
}

@media only screen and (max-width: 700px) and (max-height: 800px) {
    #art-about {
        height: 120%;
    }
}

@media only screen and (max-width: 600px) and (max-height: 800px) {
    #art-about {
        height: 120%;
    }
}

@media only screen and (max-width: 1800px) and (max-height: 600px) {
    #art-about {
        height: 150%;
    }
}

@media only screen and (max-width: 700px) and (max-height: 600px) {
    #art-about {
        height: 200%;
        padding-bottom: 100px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1500px) and (max-height: 750px) {
    #art-about {
        height: 130%;
    }
}

@media only screen and (max-width: 550px) and (max-height: 640px) {
    #art-about {
        height: 160%;
    }
}

@media only screen and (max-width: 360px) and (max-height: 640px) {
    #art-about {
        height: 160%;
    }

    #services {
        height: 170%;
    }
}


@media only screen and (max-width: 321px) and (max-height: 740px) {
    .port-links {
        width: 60vw;
    }

    #resume {
        padding-bottom: 20%;
    }
}


@media only screen and (max-width: 320px) {
    #art-about {
        margin-top: -10vh;
        padding-top: 15vh;
        height: 54rem;
    }

    #services {}

    #icon-link {
        padding-left: 0px !important;
    }

    .fab.fa-github-square.fa-3x {
        padding-top: 10px;
    }
}